<ion-view view-title="Welcome" style="height: 100vh; overflow: hidden;" class="Welcome">
    <ion-content>

        <div style="position: relative; height: 100vh; overflow: hidden;">
            <div class="headerContent">
                <div class="row">
                    <div ui-sref="app.modeAdd" class="col" style="line-height: 50px; color: #fff; font-size: 30px; text-align: left;"><i style="" class="ionic ion-plus-circled"></i></div>
                    <div class="col"><img src="http://www.kanlazimapp.com/smartbright/SmartBrightLogo.png" alt=""/></div>
                    <div class="col" style="line-height: 50px; color: #fff; font-size: 35px; text-align: right;"><i class="ionic ion-ios-color-filter"></i></div>
                </div>
            </div>
            <div class="pageTitle">
                <h2 style="color: #171717; font-size: 25px; margin: 0; margin-bottom: -30px;"><img ng-src="http://www.kanlazimapp.com/smartbright/electricStatus.png" alt=""/> <span style="position: relative; left: 10px; top: -10px;">{{ current_plan }}</span></h2>
            </div>
            <div class="devicesContainer">

                <ul>
                    <li ng-click="modeUpdate({{mode.id}})" ng-repeat="mode in modes">
                        <div class="deviceName">{{ mode.mode_name }}</div>
                        <div class="deviceCons">{{ mode.mode_cons }} kwatt</div>
                        <div style="clear: both"></div>
                    </li>
                </ul>

            </div>

            <footer id="tab" scroll="true" style="">
                <ul>
                    <li><button class="button" ui-sref="app.search"><img ng-src="http://www.kanlazimapp.com/smartbright/reports.png" alt=""/></button></li>
                    <li class="active"><button class="button" ui-sref="app.home"><i class="icon ion-android-menu"></i></button></li>
                    <li><button class="button" ui-sref="app.settings"><i class="icon ion-gear-a"></i></button></li>
                    <div style="clear: both"></div>
                </ul>
                <div style="clear: both"></div>
            </footer>
        </div>

    </ion-content>
</ion-view>
