<ion-view view-title="Welcome" class="Welcome PageBg">
    <ion-content>

        <div class="welcomeContent">
            <img ng-src="http://www.kanlazimapp.com/smartbright/SmartBrightLogo.png" alt=""/>
           <h2>Hoşgeldiniz!</h2>
            <p>Devam etmek için lütfen giriş yapınız.</p>
        </div>

        <div class="loginButton">
            <button ui-sref="app.login" class="button button-block IconButton"> <i class="ionic ion-email"></i> E-Posta ile giriş yap</button>
        </div>

    </ion-content>
</ion-view>
